*{
    margin: 0;
}

.contenedor{
    background-color: chartreuse;
    width: 100vw;
    height: 180vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 6%;
}

button{
    font-size: xx-large;
    padding: 0.32em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}